{% extends 'base.html' %}
{% block content %}
<div class="container">
<div class="header">
    <img src="{{ url_for('static', filename='images/mnety-logo.png')}}" alt="" class="logo">
    <h1 class="heading">MNETI FITI</h1>
</div>
<div class="instructions">
    <h2><strong>
        Choose An Internet package To Enjoy Unlimited Data.
         </strong></h2>
         <p>Customer care support: 0717-988-187</p>
</div>
<div class="packages">
    <div class="package-1">
        <h2>Unlimited Internet, 2 Hrs</h2>
        <p>Ksh <span>15</span></p>
        <button onclick="selectPackage('2 Hrs', 1)" class="package-button select-package" data-amount="15" data-package="2 Hrs">Konnect <i class="fa-solid fa-wifi"></i></button>
    </div>
    <div class="package-1">
        <h2>Unlimited Internet, 5 Hrs</h2>
        <p>Ksh <span>35</span></p>
        <button onclick="selectPackage('5 Hrs', 1)" class="package-button select-package" data-amount="15" data-package="2 Hrs">Konnect <i class="fa-solid fa-wifi"></i></button>
    </div>
    <div class="package-1">
        <h2>Unlimited Internet 10 Hrs</h2>
        <p>Ksh <span>50</span></p>
        <button onclick="selectPackage('10 Hrs', 1)" class="package-button select-package" data-amount="50" data-package="10 Hrs">Konnect <i class="fa-solid fa-wifi"></i></button>
    </div>
    <div class="package-1">
        <h2>Unlimited Internet, 2 Days</h2>
        <p>Ksh <span>160</span></p>
        <button onclick="selectPackage('2 Days', 1)" class="package-button select-package" data-amount="160" data-package="2 Days">Konnect <i class="fa-solid fa-wifi"></i></button>
    </div>
    <div class="package-1">
        <h2>Unlimited Internet, 5 Days</h2>
        <p>Ksh <span>200</span></p>
        <button onclick="selectPackage('5 Days', 1)" class="package-button select-package" data-amount="200" data-package="5 Days">Konnect <i class="fa-solid fa-wifi"></i></button>
    </div>
</div>



<div class="modal" id="payment-modal">
    <div class="modal-content">
        <div class="modal" id="close-modal">
            <span class="close-btn" onclick="closeModal('payment-modal')">&times;</span>
        </div>
        <h2 id="selected-package"></h2>
        <form  id="payment-form">
        <input type="tel" name="phone-number" id="phone-number" placeholder="Enter Your Mpesa Number To Initiate Payment" required>
        <button type="submit">Pay</button>
        </form>
    </div>
</div>
<div class="modal" id="processing-modal">
    <div class="modal-content">
        <h2>Please Wait...</h2>
        <p>We are verifying your payment. This may take a few seconds.</p>
    </div>
</div>

<div class="modal" id="success-modal">
    <div class="modal-content">
        <h2>Payment Successful!</h2>
        <p class="checkmark">Thanks</p>
        <p>You are now connected to the Internet</p>
    </div>
</div>
<div id="success-animation">Payment Successful! You're now connected</div>
</div>

{% endblock %}